body {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #404040;
}

.calculator-container {
    display: flex;
    flex-direction: column;
    border: 1px white solid;
    min-width: 500px;
    min-height: 650px;
    padding: 30px;
}

.calculator-display {
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px white solid;
    min-height: 80px;
    text-align: right;
    font-size: xx-large;
    padding-right: 30px;
}